/*   Copyright (C) 2021 DactusTheCactus & mirk0dex
     <gitlab.com/DactusTheCactus> & <mirkodi.tech>
     THIS STYLESHEET IS LICENSED GNU GPL-3.0-or-later.
     YOU ARE FREE TO COPY, SHARE, MODIFY, STUDY AND
     IMPROVE IT AT YOUR WILL. IT COMES WITHOUT ANY
     WARRANTY. FOR THE FULL LICENSE TEXT, GO TO
     https://gnu.org/licenses/gpl-3.0.html */

html {
  background-color: #2e3440;
}

body {
  color: #eceff4;
  margin: 1%;
  max-width: 1280px;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* font and stuffs - try to follow the Material Design guidelines where possible */
body {
  font-family: sans-serif;
  font-size: 1.2rem; /* NOTE: this isn't really Material Design-compliant, but in my opinion the Body 1 font size Material Design suggests is too big, and I would hate having a Body 2 thingy, since everything'd become too complex */
  letter-spacing: 0.0418rem;
}

/* headers' stuff */
h1, h2, h3, h4, h5, h6 {
  font-family: monospace;
}
h1 {
  letter-spacing: -0.1254rem;
  font-size: 8.0256rem;
}
h2 {
  letter-spacing: -0.418rem;
  font-size: 5.6848rem;
}
h3 {
  letter-spacing: 0rem;
  font-size: 4.0128rem;
}
h4 {
  letter-spacing: 0.0209rem;
  font-size: 2.8424rem;
}
h5 {
  letter-spacing: 0rem;
  font-size: 2.0064rem;
}
h6 {
  letter-spacing: 0.0125rem;
  font-size: 1.6720rem;
}
/* end of headers' stuff */

caption {
  letter-spacing: 0.0334rem;
  font-size: 1.0032rem;
  padding: 4px;
  color: #e5e9f0;
}

button {
  letter-spacing: 0.1045rem;
  font-size: 1.1704rem;
  text-transform: uppercase;
}

summary {
  letter-spacing: 0.1045rem;
  font-size: 1.1704rem;
  text-transform: uppercase;
}

code {
  font-family: monospace;
  font-size: 17px;
  color: #bf616a;
}
/* end of Material Design font and stuffs */

/* navigation bar stuff */
.navbar {
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 20px;
  background-color: #3b4252;
  border-radius: 7px;
  list-style-type: none;
  padding: 10px;
  position: fixed;
  text-align: center;
  top: 30%;
}

.navbar li {
  color: #d8dee9;
  background-color: #434c5e;
  padding: 1%;
  margin-bottom: 10%;
  margin-top: 10%;
  border-radius: 4px;
}

.navbar:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}
/* end of navigation bar stuff */

/* a */
a:link {
  color: #8fbcbb;
  text-decoration: none;
}
a:visited {
  color: #d08770;
  text-decoration: none;
}
a:hover {
  color: #bf616a;
  text-decoration: none;
}
a:active {
  color: #e5e9f0;
  text-decoration: none;
}
/* end of a */

/* card stuff */
.flex {
  margin: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  /* shadows and different colours */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 4px;
  width: 75%;
  background-color: #3b4252;
  margin: 1%;
}
.card:hover {
  /* shadow gets deeper and colour changes when hovered by mouse cursor */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.container {
  /* padding inside card container */
  padding: 2px 20px;
}
/* end of card stuff */
